<div class="container">
    <div class="weather-container">
        <img  src="../../../../assets/images/weather-background.png"/>
    </div>
    <div class="items-holder">
        <div class="navbar-container">
            <div class="title-holder">
                <h1>Weather in</h1>
            </div>
            <div class="search">
                <form class="search-form">
                    <input type="search" placeholder="Search City">
                    <button type="submit" class="search-icon"></button>
                </form>
            </div>
        </div>    
        <div class="card-holder">
            <div class="card-header">
                <h1></h1>
            </div>
            <div class="card-body">
                <p class="card-text">Summary: Rain</p>
                <p class="card-text">Temperature: 50 F</p>
                <p class="card-text">Feels Like: 50 F</p>
                <p class="card-text">Pressure: 1024 hPa</p>
                <p class="card-text">Humidity: 50%</p>
            </div>
        </div>
    </div>
</div>