<div class="container">
    <div class="items-holder">
        <div class="navbar-container">
            <div class="title-holder">
                <h1 *ngIf="cityWeatherInformation.name; else searchTemplate">Weather in 
                    <span>{{cityWeatherInformation.name}}</span>
                </h1>
                <ng-template #searchTemplate>
                    <h1>Search for city</h1>
                </ng-template>
            </div>
            <div class="search">
                <form [formGroup]="weatherFormGroup" (ngSubmit)="searchCityWeather()" class="search-form">
                    <input type="text" placeholder="Search City" formControlName="city">
                    <button [disabled]="weatherFormGroup.invalid" type="submit" class="search-button"></button>
                </form>
            </div>
        </div>    
        <div class="card-holder" *ngIf="cityWeatherInformation.weather[0]">
            <div class="card-header card">
                <div class="col-left">
                    <img src="https://openweathermap.org/img/wn/{{ cityWeatherInformation.weather[0].icon }}.png"/>
                </div>
                <div class="col-right">
                    <h3>{{cityWeatherInformation.weather[0].main }}</h3>
                    <span>{{cityWeatherInformation.weather[0].description }}</span>
                </div>
            </div>
            <div class="card-body card">
                <p class="card-text"><strong>Temperature:</strong> {{cityWeatherInformation.main?.temp | number:'1.0-0' }} &#8451;</p>
                <p class="card-text"><strong>Feels Like:</strong> {{cityWeatherInformation.main?.feels_like | number:'1.0-0' }} &#8451;</p>
                <p class="card-text"><strong>Pressure:</strong> {{cityWeatherInformation.main?.pressure }} hPa</p>
                <p class="card-text"><strong>Humidity:</strong> {{cityWeatherInformation.main?.humidity }}%</p>
            </div>
            <div class="card-footer">
                <div class="col-left card">
                    <h3>Wind</h3>
                    <p class="card-text"><strong>Deg:</strong> {{cityWeatherInformation.wind?.deg }}</p>
                    <p class="card-text"><strong>Speed:</strong> {{cityWeatherInformation.wind?.deg }}</p>
                </div>
                <div class="col-right card">
                    <h3>Sunrise / Sunset</h3>
                    <p class="card-text"><strong>Sunrise:</strong> {{cityWeatherInformation.sys?.sunrise | date:'shortTime' }}</p>
                    <p class="card-text"><strong>Sunset:</strong> {{cityWeatherInformation.sys?.sunset | date:'shortTime' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>